/* Sharepoint
--------------------------------------------------------------*/
#contentRow {
    max-width:$max-container-width;
    margin:0 auto;
}
#s4-bodyContainer {
	padding-bottom:0;
}
.cell-margin {
    margin:0;
}
.welcome-content {
    @include mediaquery($bp-small) {
        padding:0 $gutter-small;
    }
    @include mediaquery($bp-medium) {
        padding:0 $gutter-large;
    }
}
.welcome-content h2,
.welcome-content h3 {
    padding:0 $gutter-small;
    @include mediaquery($bp-small) {
        padding:0;
    }
}
.tableCol-50 {
    padding:0 $gutter-large;
    @include mediaquery($bp-small, $max:true) {
        width:100%;
        margin:0;
        display: block;
        padding:0 $gutter-small;
    }
}
.dfwp-column {
    padding:0 !important;
    @include mediaquery($bp-small, $max:true) {
        float:none;
    }
}
.item {
    padding:0;
    margin-bottom:$gutter-small
}
video {
    width:100% !important;
    height:auto !important;
    display:block;
}
.mediaPlayerContainer {
    height: auto !important;
}
#SharePointWrapper .mediaPlayerContainer,
#SharePointWrapper .mediaPlayerContainer * {
    box-sizing: content-box;
}

@include mediaquery($bp-medium, $max:true) {
    #suiteBar,
    #ms-hcTest {
        display: none !important;
    }
    [class*=ms-webpart],
    [class*=ms-webpart] > div {
        max-width:100% !important;
        width:auto !important;
        height:auto !important;
        display:inline-block;
    }
    .ms-webpart-cell-vertical {
        display:inherit;
    }
}