/* Blog
-------------------------------------------------------------- */
.block--blog {
    padding:0;
}
.bb-img {
    width:100%;
    height:auto;
}
.bb-heading {
    margin:1.5rem 0 .5rem 0;
    font:1.175rem $bold-font-family;
    a {
        color:$light-color;
    }
}
.bb-content {
    padding:0 $gutter-small;
    @include mediaquery($bp-medium) {
        padding:0;
    }
}
.bb-body {
    margin-bottom:2rem;
}


.latest-blog-post {
    background:$pale-color;
    padding-bottom:0;
    .bb-body {
        font-size:.875rem;
        padding-bottom:0;
    }
    .m-i-bd {
        padding:0 $gutter-small 2rem $gutter-small;
            @include mediaquery($bp-medium){
                padding:0;
                margin:0;
            }
    }
    .m-i-img {
        width:100%;
        height: auto;
            @include mediaquery($bp-medium) {
                width:auto
            }
    }
}