/* Buttons
-------------------------------------------------------------- */
//skip to content
.skip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
        .btn-skip {
            height: 1px;
            width: 1px;
            position: absolute;
            overflow: hidden;
            top: -10px;
            left: 0;
            &:focus {
                position: fixed;
                height: auto;
                width: auto;
                margin:0 auto;
                display: block;
                left: 0;
                right: 0;
                top:5px;
                text-align: center;
            }
        }
}