/* Catering
-------------------------------------------------------------- */
.catering-heading {
    font:1.1rem $semibold-font-family;
    margin-bottom:1rem;
}
.catering-item {
    margin-bottom:1.5rem;
    font-size:.875rem;
}
.c-i-heading {
    color:$light-color;
}