/* Flexi
-------------------------------------------------------------- */
.flexi-status {
    letter-spacing:1px;
    font-family:$bold-font-family;
    padding-bottom:$gutter-small;
    display:block;
        @include mediaquery($bp-medium) {
            vertical-align:middle;
            display:inline-block;
            padding-bottom:0;
            padding-right:15px;
        }
}
.flexi-balance {
    letter-spacing:1px;
    font-family:$bold-font-family;
    display:block;
    text-align:center;
    margin:0 auto;
        @include mediaquery($bp-medium) {
            display:inline-block;
        }
}
.flexi-value {
    display:inline-block;
    vertical-align:middle;
    line-height:2rem;
    color:$medium-color;
    font-size:.875rem;
    padding-right:5px;
    &:last-of-type {
        padding-right:0;
    }
}
.flexi-value--lg {
    font:2.75rem $bold-font-family;
}
.flexi-value--mono {
    color:$body-font-color
}