/* HR
-------------------------------------------------------------- */
.hr {
    p {
        margin-bottom: 2rem;
    }
}
h1.hr-heading,
h2.hr-heading {
    margin-bottom: 1rem;
    font:1.1rem $semibold-font-family;
}
h1.hr-heading {
    color:$light-color;
}
.hr li {
    margin-bottom:.5rem;
    a {
        color:$light-color;
    }
}