/* Icons
-------------------------------------------------------------- */
.icon {
    padding-left:25px;
    min-height:24px;
    display:inline-block;
    background-position:left center;
}
.icon--list {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20fill%3D%22%23000000%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M3%2013h2v-2H3v2zm0%204h2v-2H3v2zm0-8h2V7H3v2zm4%204h14v-2H7v2zm0%204h14v-2H7v2zM7%207v2h14V7H7z%22/%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22/%3E%0A%3C/svg%3E');
	background-repeat: no-repeat;
}
.icon--map {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20fill%3D%22%23000000%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M12%202C8.13%202%205%205.13%205%209c0%205.25%207%2013%207%2013s7-7.75%207-13c0-3.87-3.13-7-7-7zm0%209.5c-1.38%200-2.5-1.12-2.5-2.5s1.12-2.5%202.5-2.5%202.5%201.12%202.5%202.5-1.12%202.5-2.5%202.5z%22/%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22/%3E%0A%3C/svg%3E');
	background-repeat: no-repeat;
}
.icon--filter {
		background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M10%2018h4v-2h-4v2zM3%206v2h18V6H3zm3%207h12v-2H6v2z%22/%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}
.icon-arrow-left {
    @include icon-arrow-left;
}
.icon-arrow-right {
    @include icon-arrow-right;
}
.icon-arrow-down {
    @include icon-arrow-down;
}
.icon-arrow-down--mobile  {
    @include icon-arrow-down--mobile;
}
.icon-arrow-up {
    @include icon-arrow-up;
}  
.icon--replace {
    display:inline-block;
    width:15px;
    text-indent:100%;
    overflow: hidden;
        &:after {
            right:auto;
            
        }
}