/* News
-------------------------------------------------------------- */
.news-item {
    img {
        width:100%;
        height:auto;
    }
    &:last-of-type {
        border-bottom:1px solid $light-color;
    }
}
.news-item--featured {
    background:$pale-color;
    .n-i-headline {
        font-size:1.7rem;
        margin-bottom:1rem;
    }
        &:last-of-type {
             border-bottom:0 none;
        }
}
.n-i-featured-body {
    padding:$gutter-small;
}
.n-i-headline {
    color:$light-color;
    position:relative;
    font-size:1.25rem;
    margin-bottom:.25rem;
    a,
    a:visited {
        color:$light-color;
    }
    .see-more {
        color:$highlight-color;
    }
}
.n-i-sub {
    color:$body-font-color;
}
