/* Tags
-------------------------------------------------------------- */
.tags {
    background:$medium-color;
    padding-right:0;
}
.tags-heading {
    color:#fff;
    margin-bottom:1rem;
    font:1.5rem $semibold-font-family;
}
.tag,
.tag:visited {
    display:inline-block;
    margin:0 15px 15px 0;
    background:$light-color;
    padding:8px;
    color:#fff;
    font-size: .875rem;
}