<!DOCTYPE html>
<html lang="en" class="no-webfonts no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{assetPath}}/css/styles.css">
    <script>document.documentElement.className =  document.documentElement.className.split('no-js').join('');</script>
    <title>{{title}}</title>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-touch-fullscreen" content="YES">
    <meta property="og:title" content="">
    <meta property="og:url" content="">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="">
    <meta name="application-name" content="">
    <link rel="dns-prefetch" href="">
    <link rel="preload" href="{{assetPath}}/js/app.js" as="script">
</head>