<!DOCTYPE html>
<html lang="en" class="no-webfonts no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{assets}}/css/styles.css"> 
    <!-- <meta data-ai="" /> -->
    <!-- <script src="{{assets}}/js/head.js"></script> -->
    <script async src="{{assets}}/js/app.js"></script>
    <title>{{title}}</title>
    <!--<link rel="apple-touch-icon" sizes="180x180" href="{{assets}}/img/favicon/apple-touch-icon.png"> 
    <link rel="icon" type="image/png" sizes="32x32" href="{{assets}}/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{assets}}/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{assets}}/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="{{assets}}/img/favicon/safari-pinned-tab.svg" color="#1a1a1a">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#1a1a1a">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-touch-fullscreen" content="YES">-->
    <meta property="og:title" content="">
    <meta property="og:url" content="">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="">
    <meta name="application-name" content="">
    <!-- <link rel="dns-prefetch" href=""> -->
    <!-- <link rel="prefetch" href="{{assets}}/js/app.js" as="script"> -->   
</head>