<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="">
	<script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'');</script>
    <link rel="stylesheet" href="/assets/css/styles.css">
	<!--[if lt IE 9]>
    <link rel="stylesheet" href="/assets/css/styles.ie.min.css">
    <script src="/assets/js/polyfills.min.js"></script>
    <![endif]-->
</head>