<nav id="navigation" class="nav-primary" role="navigation">
        <ul class="nav-primary__list">
            <li class="nav-primary__item">
                <a href="/" tabindex="0" class="nav-primary__link{% if !title %} active{% endif %}">Shop Home</a>
            </li>
             <li class="nav-primary__item">
                <a href="/about/" class="nav-primary__link js-has-children">About</a>
            </li>
        </ul>
        <button class="nav-btn-close js-toggle" data-target="#navigation">Close</button>
    </div>
</nav>