/* Type
-------------------------------------------------------------- */
// body,
// button,
// input,
// select,
// textarea {
//     font:$base-font-weight $base-font-size $body-font-family;
//     line-height:$base-line-height;
//     color:$body-font-color;
// }

// input,
// select,
// textarea {
//     font-size:.99rem;
//     line-height:1rem;
// }

// b,
// strong {
//     font-weight: $bold;
// }

// a:hover,
// a:focus,
// a:active {
// }

// .no-webfonts:not(.no-js) * {
//     font-family:sans-serif;
// }