{% extends '../layouts/default.html' %}
{% block content %}
<div class="wrapper push--top push--bottom">
    <div class="small_12">
        <div class="feature feature-campaign">
            <div class="row small_12">
                <div class="col xsmall_full small_12 medium_7 col_reverse">
                    <picture class="feature-campaign__img">
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source media="(min-width: 1200px)" srcset="/assets/img/home-feature/christmas-1024x650.jpg">
                        <source media="(min-width: 1041px)" srcset="/assets/img/home-feature/christmas-1024x850.jpg">
                        <source media="(min-width: 768px)" srcset="/assets/img/home-feature/christmas-1024x480.jpg">
                        <source srcset="/assets/img/home-feature/christmas-800x480.jpg">
                        <!--[if IE 9]></video><![endif]-->
                        <img src="/assets/img/home-feature/christmas-800x480.jpg" class="feature-campaign__img" alt="">
                    </picture>
                </div>
                <div class="col xsmall_full small_12 medium_5 feature__meta feature-campaign__meta col_reverse">
                    <div class="feature-campaign__label">Collection</div>
                    <h1 class="feature__title feature-campaign__title">Highland Christmas</h1>
                    <div class="feature__bd feature-campaign__bd">Enjoy a tradition highland Christmas with our bespoke, hand chose collections of gifts and accessories</div>
                    <div class="feature__price feature-campaign__price">From £12.99</div>
                    <a class="btn btn--icon" href="/category">View the collection <i class="icon icon-right-open"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <h1>Featured Products</h1>
    <div class="row small_12">
        <a href="/product" class="product equal-height col xsmall_12 small_6 medium_3">
            <div class="ribbon">New</div>
            <div class="product-image">
                <img src="/assets/img/sample.jpeg" alt="">
            </div>
            <div class="product-meta">
                <h1 class="product-meta__title">Longer Product title</h1>
                <div class="product-meta__price">
                    <ins>&pound;19.99</ins> <del>&pound;29.99</del>
                </div>
                <div class="product-meta__category">
                    Category title
                </div>
            </div>
            <div class="btn btn-green product-cta-btn">Buy now</div>
        </a>
        <a href="/product" class="product equal-height col xsmall_12 small_6 medium_3">
            <div class="ribbon">New</div>
            <div class="product-image">
                <img src="http://placehold.it/900x900" alt="">
            </div>
            <div class="product-meta">
                <h1 class="product-meta__title">Product title</h1>
                <div class="product-meta__price">
                    <ins>&pound;19.99</ins> <del>&pound;29.99</del>
                </div>
                <div class="product-meta__category">
                    Category title
                </div>
            </div>
            <div class="btn btn-green product-cta-btn">Buy now</div>
        </a>
        <a href="/product" class="product equal-height col xsmall_12 small_6 medium_3">
            <div class="ribbon">New</div>
            <div class="product-image">
                <img src="http://placehold.it/900x900" alt="">
            </div>
            <div class="product-meta">
                <h1 class="product-meta__title">Product title</h1>
                <div class="product-meta__price">
                    <ins>&pound;19.99</ins> <del>&pound;29.99</del>
                </div>
                <div class="product-meta__category">
                    Category title
                </div>
            </div>
            <div class="btn btn-green product-cta-btn">Buy now</div>
        </a>
        <a href="/product" class="product equal-height col xsmall_12 small_6 medium_3">
            <div class="ribbon">New</div>
            <div class="product-image">
                <img src="http://placehold.it/900x900" alt="">
            </div>
            <div class="product-meta">
                <h1 class="product-meta__title">Product title</h1>
                <div class="product-meta__price">
                    <ins>&pound;19.99</ins> <del>&pound;29.99</del>
                </div>
                <div class="product-meta__category">
                    Category title
                </div>
            </div>
            <div class="btn btn-green product-cta-btn">Buy now</div>
        </a>
        <a href="/product" class="product equal-height col xsmall_12 small_6 medium_3">
            <div class="ribbon">New</div>
            <div class="product-image">
                <img src="http://placehold.it/900x900" alt="">
            </div>
            <div class="product-meta">
                <h1 class="product-meta__title">Product title</h1>
                <div class="product-meta__price">
                    <ins>&pound;19.99</ins> <del>&pound;29.99</del>
                </div>
                <div class="product-meta__category">
                    Category title
                </div>
            </div>
            <div class="btn btn-green product-cta-btn">Buy now</div>
        </a>
        <a href="/product" class="product equal-height col xsmall_12 small_6 medium_3">
            <div class="ribbon">New</div>
            <div class="product-image">
                <img src="http://placehold.it/900x900" alt="">
            </div>
            <div class="product-meta">
                <h1 class="product-meta__title">Product title</h1>
                <div class="product-meta__price">
                    <ins>&pound;19.99</ins> <del>&pound;29.99</del>
                </div>
                <div class="product-meta__category">
                    Category title
                </div>
            </div>
            <div class="btn btn-green product-cta-btn">Buy now</div>
        </a>
        <a href="/product" class="product equal-height col xsmall_12 small_6 medium_3">
            <div class="ribbon">New</div>
            <div class="product-image">
                <img src="http://placehold.it/900x900" alt="">
            </div>
            <div class="product-meta">
                <h1 class="product-meta__title">Product title</h1>
                <div class="product-meta__price">
                    <ins>&pound;19.99</ins> <del>&pound;29.99</del>
                </div>
                <div class="product-meta__category">
                    Category title
                </div>
            </div>
            <div class="btn btn-green product-cta-btn">Buy now</div>
        </a>
        <a href="/product" class="product equal-height col xsmall_12 small_6 medium_3">
            <div class="ribbon">New</div>
            <div class="product-image">
                <img src="http://placehold.it/900x900" alt="">
            </div>
            <div class="product-meta">
                <h1 class="product-meta__title">Product title</h1>
                <div class="product-meta__price">
                    <ins>&pound;19.99</ins> <del>&pound;29.99</del>
                </div>
                <div class="product-meta__category">
                    Category title
                </div>
            </div>
            <div class="btn btn-green product-cta-btn">Buy now</div>
        </a>
    </div>
</div>
<div class="bg-grey">
    <div class="wrapper push-half--bottom">
        <div class="row small_12">
            <div class="col xsmall_12 small_full medium_6">
                <h1 class="header--line"><i class="icon icon-truck"></i> Shipping exclusively to the UK</h1>
                <ul class="lighter">
                    <li>Loren ipsum dolor reliable, fast </li>
                    <li>Delivering through the UK excluding Northern Ireland</li>
                </ul>
            </div>
            <div class="col xsmall_12 small_full medium_6">
                <h1 class="header--line"><i class="icon icon-lock"></i> Secure payment processing</h1>
                <ul class="push--bottom lighter">
                    <li>We accept all major credit and debit cards as well as PayPal</li>
                    <li>Other Worldpay benefits</li>
                </ul>
                <div class="row push-half--bottom">
                    {% include '../partials/block-cards.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}