---
title: Home
---
{% extends 'layouts/default.html' %}
{% block content %}
<div class="js-tabs tabs">
    <nav class="tabs__nav">
        <a class="tabs__nav-link js-tabs__link" href="#1">Tab 1</a>
        <a class="tabs__nav-link js-tabs__link" href="#2">Tab 2</a>
        <a class="tabs__nav-link js-tabs__link" href="#3">Tab 3</a>
    </nav>
    <section id="1" class="tabs__section">Tab 1</section>
    <section id="2" class="tabs__section">Tab 2</section>
    <section id="3" class="tabs__section">Tab 3</section>
</div>
{% endblock %}