// Path alias
$assetPath:                '/static';

// Colors
// -------------------------

// // Type
// // --------------------------------------------------
$thin:                      100;
$light:                     300;
$regular:                   400;
$semibold:                  600;
$bold:                      700;
$thick:                     800;

$baseline:                  1.5rem !default;
$base-font-family:          sans-serif !default;
$base-font-weight:          $regular !default;
$base-font-size:            100% !default;
$base-line-height:          1.5 !default;