{% include "partials/doc-head.html" %}
<body>
    <div class="skip">
        <a class="btn btn-skip" tabindex="0" href="#content">Skip to main content</a>
    </div>
    <button data-target="#navigation" class="btn-hamburger js-toggle" aria-label="Toggle navigation visibility">
        <svg focusable="false" tabindex="-1" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
        </svg>
    </button>
    {% include "partials/ui-header.html" %}
    {% include "partials/ui-primary-navigation.html" %}
    <main id="content">
            {% block content %}{% endblock %}
    </main>
    {% include "partials/ui-footer.html" %}
    <script async src="{{assetPath}}/js/app.js"></script>
</body>
</html>