/* Forms
-------------------------------------------------------------- */
label,
.label {
    cursor:pointer;
    display:block;
    margin-bottom:.5rem;
    font-size: 99%;
    width:100%;
}
input,
textarea {
    display:block;
    padding:0 $gutter/2;
    line-height:1.25rem;
    width:100%;
    min-height:2.5rem;
    cursor: pointer;
    border:$border-width solid $border-color;
    border-radius:$border-radius;
}
legend {
    font-size: 1rem;
    margin-bottom:$baseline/2;
}
.form-row {
    margin-bottom:$baseline;
    clear:both;
}
.form-row-checkbox,
.form-row-radio {
    position:relative;
    padding-left:2rem;
    input {
        position: absolute;
        left:0;
        top:.5rem;
    }
}
.form-row--right {
    text-align:right
}
.form-row--centre {
    text-align:center
}
.form-select {
    display: block;
    cursor:pointer;
    position: relative;
    line-height:1.25rem;
    width:auto;
    background:transparent;
    border:$border-width solid $border-color;
    border-radius: $border-radius;
    position: relative;
    display: inline-block;
    padding: 8px 25px 8px 8px;
    z-index: 1;
}

@media screen and (min-width:0\0) and (min-resolution:.001dpcm) {
//ie9 hack
    .form-select {
        padding-right:10px !important;
    }
    .form-select__icon {
        display:none;
    }
}
.form-file {
    position:relative;
    display: block;
    font-size:1.25rem;
    cursor:pointer;
        input {
            z-index:1;
            opacity:0;
            padding:4px 25px 4px 4px;
            cursor:pointer;
        }
        &:before {
            position:absolute;
            padding:8px 16px;
            border:$border-width solid $border-color;
            background-color: rgb(248, 248, 248);
            background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20fill%3D%22%23000000%22%20height%3D%2218%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2218%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22/%3E%0A%20%20%20%20%3Cpath%20d%3D%22M9%2016h6v-6h4l-7-7-7%207h4zm-4%202h14v2H5z%22/%3E%0A%3C/svg%3E');
            background-repeat: no-repeat;
            background-position:95% center;
            width:100%;
            content:'Choose file';
            cursor:pointer;
        }
        &:after {
            right:$gutter;
        }
}
.form-file-name {
    display:block;
    padding:.5rem 0 0 0;
    font-size:1rem;
    line-height:1.4;
}

//errors
.form-error-message {
    font:1rem/1.4 $body-font-family;
    display: block;
}
.form-select.form-error {
    margin-bottom:2.5rem;
    position: relative;
}
.form-select .form-error-message {
    position: absolute;
    bottom:-1.75rem;
}