/* Navigation
-------------------------------------------------------------- */
//skip to content
.nav-skip {
    position: absolute;
    visibility: hidden;
        &:focus {
            position: fixed;
            visibility: visible;
            background:#fff;
            display:block;
            left:0;
            right:0;
            top:0;
            outline:0;
            z-index:3;
            text-align: center;
        }
}
//primary nav
.nav-primary {
    position:fixed;
    z-index:2;
    width:50%;
    right:0;
    top:0;
    bottom:0;
    padding:75px 35px 20px 5%;
    transform: translateX(100%);
    background:#000;
    visibility: hidden;
        @media (min-width:$bp-medium){  
            visibility: visible;
            opacity:1;
            position:relative;
            width:auto;
            padding:0;
            display:inline-block;
            float:right;
            margin-right:40px;
            clear:right;
            transform: none;
            background:transparent;
        }
        ul {
            padding:0;
        }
}
.nav-primary-item {
    list-style:none;
    position:relative;
    background:#000;
    padding-bottom:0;
        @media (min-width:$bp-medium) {
            display:block;
            float:left;
        }
}
.nav-primary-link {
    color:#fff;
    font:1rem $base-font-family;
        @media (min-width:$bp-medium) {
            padding:9px 18px;
            height:38px;
            display:block;
            float:left;
            transition:background-color 500ms ease, color 500ms ease;
                &:hover {
                }
            svg {
                transition:background-color 500ms ease, fill 500ms ease;
            }
        }
}

.on--navigation {
    @media (max-width:$bp-medium){
        overflow:hidden;
        .nav-primary {
            transform: translateX(0);
            transition:transform 200ms ease;
            backface-visibility: hidden;
            visibility: visible;
        }
        .nav-primary-item {
            display:block;
            margin-bottom:1rem;
            font-size:1rem;
            margin-bottom:1rem;
            color:#fff
        }
    }
}
.animating--navigation {
    @media (max-width:$bp-medium){
        .nav-primary {
            transform:translateX(100%);
            transition:transform 200ms ease;
        }
        .banner-text,
        .banner .banner-logo,
        .nav-skip,
        main,
        .hero,
        .ticker,
        .contentinfo {
            transform:translateX(0);
            transition:transform 200ms ease;
        }
    }
}
.no-js .nav-primary {
    @media (max-width:$bp-medium){
        transform: translateX(0);
        position:relative;
        visibility: visible;
        width:100%;
        padding-top:20px;
            .nav-primary-item {
                display:block;
                margin-bottom: .5rem;
                margin-bottom: .5rem;
            }
    }
}
//breadcrumb
.nav-breadcrumb {
}
.nav-breadcrumb__list {
}
.nav-breadcrumb__item {
    display:inline-block;
    padding:0 .25rem 0 0;
        &+ .nav-breadcrumb__item {
            &:before {
                content:' / ';
                padding-right:.25rem;
            }
            &:first-child:before {
                padding-right:0;
            }
        }
}

//pagination
.nav-pagination {
}
.nav-pagination__item {
    display: inline-block;
    margin-bottom: 0;
    padding-bottom:0;
    min-width:32px;
    text-align: center;
}
.nav-pagination__link {
    display: inline-block;
    padding:0;
    height:32px;
    width:32px;
    text-align: center;
    border:$border-width solid $border-color;
    border-radius:$border-radius;
        &:hover {
        }
}