/* Navigation
-------------------------------------------------------------- */
//primary nav
.nav-primary {
    position:fixed;
    z-index:2;
    width:100%;
    right:0;
    top:0;
    bottom:0;
    padding:75px 35px 20px 5%;
    transform: translateX(100%);
    background:$body-font-color;
    visibility: hidden;
        @media (min-width:$bp-medium){  
            visibility: visible;
            opacity:1;
            position:relative;
            padding:0;
            display:block;
            transform: none;
            background:transparent;
            width:100%;
        }
}
.nav-primary__list {
}
.nav-primary__item {
    list-style:none;
    padding-bottom:0;
}
.nav-primary__link {
	color:$body-font-color;
        @media (min-width:$bp-medium) {
            svg {
                transition:background-color 500ms ease, fill 500ms ease;
            }
        }
}
.nav-primary__sub {
    position: absolute;
    left:0;
    z-index:2;
    width:100%;
    margin-bottom: 0;
    max-height:0;
    overflow:hidden;
}
.nav-primary__sub-list {}
.nav-primary__sub-item {}
.nav-primary__sub-link {}
.nav-primary__sub-toggle {
    svg {
        fill:$body-font-color;
    }
}

.nav-primary__item.active {
}
.nav-primary__item.animating {
}

.on--navigation {
    @media (max-width:$bp-medium){
        overflow:hidden;
        .nav-primary {
            transform: translateX(0);
            transition:transform 200ms ease;
            backface-visibility: hidden;
            visibility: visible;
        }
    }
}
.animating--navigation {
    @media (max-width:$bp-medium){
        .nav-primary {
            transform:translateX(100%);
            transition:transform 200ms ease;
        }
        main,
        .contentinfo {
            transform:translateX(0);
            transition:transform 200ms ease;
        }
    }
}
.no-js .nav-primary {
    @media (max-width:$bp-medium){
        transform: translateX(0);
        position:relative;
        visibility: visible;
        width:100%;
        padding-top:20px;
            .nav-primary__item {
                display:block;
                margin-bottom: .5rem;
                margin-bottom: .5rem;
            }
    }
}
//breadcrumb
.nav-breadcrumb {
}
.nav-breadcrumb__list {
}
.nav-breadcrumb__item {
    display:inline-block;
    padding:0 .25rem 0 0;
        &+ .nav-breadcrumb__item {
            &:before {
                content:' / ';
                padding-right:.25rem;
            }
            &:first-child:before {
                padding-right:0;
            }
        }
}

//pagination
.nav-pagination {
}
.nav-pagination__item {
    display: inline-block;
    margin-bottom: 0;
    padding-bottom:0;
    min-width:32px;
    text-align: center;
}
.nav-pagination__link {
    display: inline-block;
    padding:0;
    height:32px;
    width:32px;
    text-align: center;
    border:$border-width solid $border-color;
    border-radius:$border-radius;
        &:hover {
        }
}