/* Navigation
-------------------------------------------------------------- */
//primary nav
.nav-primary {}
.nav-primary__list {}
.nav-primary__item {}
.nav-primary__link {}
.nav-primary__sub {}
.nav-primary__sub-list {}
.nav-primary__sub-item {}
.nav-primary__sub-link {
    visibility: hidden
}
.nav-primary__sub-toggle {
    svg {
    }
}

.nav-primary__item.active {
    .nav-primary__sub {}
    .nav-primary__sub-link {
        visibility: visible;
    }
}
.nav-primary__item.animating .nav-primary__sub{}

.on--navigation {}
.animating--navigation {}
.no-js .nav-primary {}